<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
	<head>
		{{header}}
		<div class="wrapper">
			<nav class="no-mobile navigator">
				<div class="row">
					<div class="column-3">
						<p class="txt-center">
							<a href="#" class="nav-menu">
								LOGO
							</a>
						</p>
					</div>
					<div class="column-3">
						<p class="txt-center">
							<a href="#" class="nav-menu">
								Veículos
							</a>
						</p>
					</div>
					<div class="column-3">
						<p class="txt-center">
							<a href="#" class="nav-menu">
								Busca
							</a>
					</div>
					<div class="column-3">
						<p class="txt-center">
							<a href="#" class="nav-menu">
								Contato
							</a>
						</p>
					</div>
				</div>
			</nav>
		</div>
		<header class="header">
			<div class="wrapper">
				<div class="row">
					<div class="column-12">
						<p>Lasforem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation <i class="fab fa-sass"></i> ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</header>
		<main class="bg-white">
			{{visao}}
		</main>
		<footer class="footer bg-terciary">
			<div class="wrapper">
				<div class="row">
					<div class="column-4">
						Site
						<ul>
							<li class="li">Início</li>
							<li class="li">Veículos</li>
							<li class="li">Fipe</li>
							<li class="li">Contato</li>
						</ul>
					</div>
					<div class="column-4">
						Siga-nos
						<ul>
							<li class="li">
								<a href="#" class="f-iconnect">
									<p class="href"><i class="fab fa-facebook-f inline"></i> <span class="font1 inline">Facebook</span></p>
								</a>
							</li>
							<li class="li"><a href="#" class="f-iconnect"><i class="fab fa-instagram"></i> <span class="font1">Instagram</span></a></li>
							<li class="li"><a href="#" class="f-iconnect"><i class="fab fa-linkedin-in"></i> <span class="font1">Linkedin</span></a></li>
						</ul>
					</div>
					<div class="column-4">
						Contato
						<address>
							<ul>
								<li class="li">Rua Santo Marquetto, 89</li>
								<li class="li">Marau - RS</li>
								<li class="li">(54) 3342-3342</li>
							</ul>
						</address>
					</div>
					<div class="column-12">
						<div class="column-6 txt-left">
							<p>Copyright © 2018 seucutempelo</p>
						</div>
						<div class="column-6 flt-right txt-right">
							<ul>
								<li class="inline">Seucutempelo</li>
								<li class="inline">Políticas de privacidade</li>
								<li class="inline">Dúvidas</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Javascript -->
		<script src="{{static}}js/site.min.js{{cache}}"></script>
	</body>
</html>