<div class="wrapper">
	<div class="row">
		<div class="column-3">
			<div class="miniatura">
				<a href="#">
					<div class="box-img">
						<img src="{{statics}}img/01.jpg" class="width-100" alt="carro" />
					</div>
					<div class="box-detalhes">
						<p class="box-detalhes-txt">Jetta 2.0 16V</p>
						<p class="box-detalhes-txt">Ano: 2011 <span class="flt-right preco">R$ <b>70.000,00</b></span></p>
					</div>
				</a>
			</div>
		</div>
		<div class="column-3">
			<div class="miniatura">
				<a href="#">
					<div class="box-img">
						<img src="{{statics}}img/02.jpg" class="width-100" alt="carro" />
					</div>
					<div class="box-detalhes">
						<p class="box-detalhes-txt">Jetta 2.0 16V</p>
						<p class="box-detalhes-txt">Ano: 2011 <span class="flt-right preco">R$ <b>70.000,00</b></span></p>
					</div>
				</a>
			</div>
		</div>
		<div class="column-3 no-mobile">
			<div class="miniatura">
				<a href="#">
					<div class="box-img">
						<img src="{{statics}}img/02.jpg" class="width-100" alt="carro" />
					</div>
					<div class="box-detalhes">
						<p class="box-detalhes-txt">Jetta 2.0 16V</p>
						<p class="box-detalhes-txt">Ano: 2011 <span class="flt-right preco">R$ <b>70.000,00</b></span></p>
					</div>
				</a>
			</div>
		</div>
		<div class="column-3">
			<div class="miniatura">
				<a href="#">
					<div class="box-img">
						<img src="{{statics}}img/01.jpg" class="width-100" alt="carro" />
					</div>
					<div class="box-detalhes">
						<p class="box-detalhes-txt">Jetta 2.0 16V</p>
						<p class="box-detalhes-txt">Ano: 2011 <span class="flt-right preco">R$ <b>70.000,00</b></span></p>
					</div>
				</a>
			</div>
		</div><div class="column-3">
			<div class="miniatura">
				<a href="#">
					<div class="box-img">
						<img src="{{statics}}img/01.jpg" class="width-100" alt="carro" />
					</div>
					<div class="box-detalhes">
						<p class="box-detalhes-txt">Jetta 2.0 16V</p>
						<p class="box-detalhes-txt">Ano: 2011 <span class="flt-right preco">R$ <b>70.000,00</b></span></p>
					</div>
				</a>
			</div>
		</div>
		<div class="column-3">
			<div class="miniatura">
				<a href="#">
					<div class="box-img">
						<img src="{{statics}}img/02.jpg" class="width-100" alt="carro" />
					</div>
					<div class="box-detalhes">
						<p class="box-detalhes-txt">Jetta 2.0 16V</p>
						<p class="box-detalhes-txt">Ano: 2011 <span class="flt-right preco">Consultar valor</span></p>
					</div>
				</a>
			</div>
		</div>
		<div class="column-3">
			<div class="miniatura">
				<a href="#">
					<div class="box-img">
						<img src="{{statics}}img/100img.jpeg" class="width-100" alt="carro" />
					</div>
					<div class="box-detalhes">
						<p class="box-detalhes-txt">Jetta 2.0 16V Jetta 2.0 16V Jetta 2.0 16VJetta 2.0 16V Jetta 2.0 16V Jetta 2.0 16V </p>
						<p class="box-detalhes-txt">Ano: 2011 <span class="flt-right preco">R$ <b>70.000,00</b></span></p>
					</div>
				</a>
			</div>
		</div>
		<div class="column-3">
			<div class="miniatura">
				<a href="#">
					<div class="box-img">
						<img src="{{statics}}img/01.jpg" class="width-100" alt="carro" />
					</div>
					<div class="box-detalhes">
						<p class="box-detalhes-txt">Jetta 2.0 16V</p>
						<p class="box-detalhes-txt">Ano: 2011 <span class="flt-right preco">R$ <b>70.000,00</b></span></p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>