<div class="wrapper">
	<div class="row">
		<div class="column-12">
			<p>Início > Veículos > Ford Fiesta Hatch S 1.5 16V 2016</p>
		</div>
		<div class="column-12 txt-center">
			<img src="{{statics}}img/01.jpeg" alt="carro" class="width-100"/>
		</div>
		<div class="column-12">
			<div class="box">
				<h2>DETALHES</h2>
				<div class="wrapper">
					<div class="row">
						<div class="column-4 txt-center">
							<p>Ano</p>
							<p>2011</p>
						</div>
						<div class="column-4 txt-center">
							<p>Quilômetros</p>
							<p>77.248 km</p>
						</div>
						<div class="column-4 txt-center">
							<p>Tipo</p>
							<p>Hatch</p>
						</div>
						<div class="column-4 txt-center">
							<p>Motor</p>
							<p>2.0</p>
						</div>
						<div class="column-4 txt-center">
							<p>Potência</p>
							<p>180 hp</p>
						</div>
						<div class="column-4 txt-center">
							<p>Transmissão</p>
							<p>Automárica</p>
						</div>
					</div>
				</div>

				<div class="st-space-3"></div>

				<div class="ux_dropbox">
					<h3 id="dimensoes" class="ux_title pd-center-3">Dimensões e capacidades <span class="flt-right pd-right-1" id="dimensoes_ux_dropbox_icone"><i class="fas fa-angle-up"></i></span></h3>
					<div id="dimensoes_box" class="ux_box_dropbox ux_dropbox_closed">
						<div class="wrapper">
							<div class="row">
								<div class="column-4">
									Quantidade de pessoas : 5
								</div>
								<div class="column-4">
									Altura : 1427 mm
								</div>
								<div class="column-4">
									Comprimento : 4703 mm
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ux_dropbox">
					<h3 id="motor" class="ux_title pd-center-3">Motor e performance <span class="flt-right pd-right-1" id="motor_ux_dropbox_icone"><i class="fas fa-angle-up"></i></span></h3>
					<div id="motor_box" class="ux_box_dropbox ux_dropbox_closed">
						<p>
							Válvulas por cilindro : 4
						</p>
					</div>
				</div>
				<ul>
					<li class="li"></li>
				</ul>
			</div>

			<p>ACESSÓRIOS</p>
		</div>
	</div>
</div>